
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1;}
}

.addListMaster {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* flex-wrap: wrap; */
  animation: 1s linear fadeIn;
}

.addListMaster input {
  display: block;
  width: 66%;
  margin: auto;
  margin-top: 5%;
  /* border-radius: 10%; */
  border:none;
}

.addListMaster input:focus {
  border: 0;
  outline: none;
}

.listCol {
  margin: 5%;
  width: 40%;
  /* border: 1px solid #000; */
  border-radius: 5%;
  padding: 5%;
  background-color: #f4f4f4;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.listCol h1 {
  font-size: 30px;
  text-align: left;
}

.csvContainer * {
margin-bottom: 15%;
}

.csvContainer button {
  margin-top: 50%;
}


@media (max-width: 450px) {
  .addListMaster {
    display: block;
  }

  .listCol {
    width: 66%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .listCol h1 {
    font-size: 20px;
  }

  
  .listCol button {
    font-size: 14px;
    padding: 10px;
    margin-top: 15%;
  }

  .fileInputCont {
    margin-bottom:0;
  }

  

}