


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px; 
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  text-transform: lowercase;
background-color: #1b8697;
}



.navBar>div {
  
  margin:0% 5%;
  padding: 1%;
  
}

.navBar button {
  /* font-size:15px; */
  font-family: 'Comfortaa', cursive;
  /* border-radius: 20%; */


}


.navLinkHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #000;
}

.navLinkHolder input {
  border: none;
  
  
}
.navLinkHolder * {
  /* padding: 10px; */

}

