/* colors:

grain: #d7cec7
grain: #565656
grain: #763237
grain: #c09f80

*/


@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600');

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh; 
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  text-transform: lowercase;
}

.navBar button {
  font-size:15px;
  font-family: 'Comfortaa', cursive;
}


.navLinkHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinkHolder input {
  border: none;
  border-radius: 3px;
 

  box-shadow: rgb(255, 231, 231) 2px 2px 2px;
}
.navLinkHolder * {
  padding: 5px;
}

