


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px; 
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  text-transform: lowercase;
background-color: #003345;
color: #f4f4f4;
}

#logo a {
text-decoration: none;  
}

.navBar>div {
  
  margin:0% 5%;
  padding: 1%;
  
}

.navBar button {
  font-size:15px;
  font-family: 'Comfortaa', cursive;
  /* border-radius: 20%; */


}


.navLinkHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.navLinkHolder input {

  margin: 0px 10px  
  
}
.navLinkHolder * {
  padding: 10px;

}

