
.referralForm input {
  display: block;
  width: 33%;
  /* margin: auto; */
  margin-left: 30%;
  /* border-radius: 10%; */
  border:none;
  border-bottom: 1px solid #dfdfdf;
  transition: ease-in-out all 2s;
  border-width: #f4f4f4;
}

.referralForm input:focus {
  /* border-bottom: 1px #0f6475 solid; */
  outline: none;


}

.referralForm {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  width: 40%;
  /* padding: 5%; */
}

.referralForm * {
  margin: 10px;
}

.referral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.referralInfo {
width:35%;
}

.referralInfo * {
  margin: 5%;
}

.referralInfo h1 {
  /* margin: 3%; */
  font-size: 36px;  
}

.referralInfo p {
  font-size: 24px;
}

.thankYou {
  height: 50vh;
  width: 50vw;
  margin-left:50%;
  margin-top: 25%;


}
.refCol {
  margin-top: 5%;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 30px;
}



.referralForm button {
  width: 50%;
  margin: auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;

}



@media (max-width: 450px) {
  
  .refCol {
    width: 75%;

  }
  
  .refCol h1 {
    font-size: 24px;

  }

  .refCol button {
    padding: 10px; 
    font-size: 14px;
  }

  .refCol p {
    font-size: 16px;
  }

  .refCol input {
    width: 40%;
  }
}