.signUp {
/* border: 1px black solid; */
background-color: #f4f4f4;
width: 40%;
border-radius: 30px;
/* margin-right: 25%; */
/* height: 75vh; */
margin-top: 5%;
padding: 50px;

}

.signUp button {
margin-top: 10%;
margin-left: 195px;
}

.signUp h1 {
  font-size: 36px;
}

.signUp input {
  display: block;
  width: 66%;
  padding: 10px;
  margin: auto;
  margin-top: 15%;
  border:none;
  border-bottom: 1px solid #dfdfdf;
  transition: ease-in-out all 2s;
}

.signUp input:focus {
/* border: 0; */
  outline: none;
}

.signUpCont {

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#regImg {
  width: 33%;
  
 
}


@media(max-width:450px) {
  .signUp h1 {
    font-size: 16px;
  }
  .signUp input {
    font-size: 10px;
  }

  .signUp {
    margin-top: 0%;
    position: absolute;
    top: 20%;
    border: #dfdfdf 2px solid;

  }

  .signUp button {
    margin: 25% 25%;
    font-size: 12px;
    padding: 5px;
  }

  .signUpCont {
    height: 95vh;
    background-color: #f4f4f4;

  }

}